body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

header {
  background: #b71c1c;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}

article {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
.news-img{
width:100%;
max-height:300px;
object-fit:cover;
border-radius:8px;
margin:10px 0;
}
