body{
margin:0;
font-family:Arial, sans-serif;
background:#f5f5f5;
}

header{
background:#b71c1c;
padding:15px;
color:white;
}

header h1{
margin:0;
font-size:22px;
}

nav{
margin-top:8px;
}

nav a{
color:white;
text-decoration:none;
margin-right:15px;
font-size:14px;
}

main{
max-width:900px;
margin:auto;
padding:15px;
}

article{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

article h2{
margin-top:0;
color:#b71c1c;
}

.news-img{
width:100%;
max-height:320px;
object-fit:cover;
border-radius:8px;
margin:10px 0;
}

footer{
background:#222;
color:white;
text-align:center;
padding:10px;
font-size:13px;
}

article img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}
